<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReuseViewInStroyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>41033B1F1C4E052D004EAAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41033B381C4E052D004EAAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41033B431C4E052D004EAAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
